.DS_Store
.idea
.idea/*
.vscode/*

*.pyc
./*/*.pyc
./*/*/*.pyc
./*/*/*/*.pyc
./*/*/*/*/*.pyc
./*/*/*/*/*/*.pyc

*.log

wandb
./*/wandb
./*/*/wandb
./*/*/*/wandb
./*/*/*/*/wandb
./*/*/*/*/*/wandb


*.txt
*.h5

# data
*.rar
*.csv
*.dat
cifar-10-batches-py
*.tar.gz
*.png
*.zip
*.json

# android
.gradle
fedml_mobile/android/.idea
fedml_mobile/android/app/build
fedml_mobile/android/fedml-iot-sdk/build
fedml_mobile/android/build

mimiconda.sh

fedml_api/model/ResNet18/cifar10/*
fedml_api/model/YOLOv3/coco/*

data/fednlp/*

*.npz

*.jpg