.DS_Store
.idea
.idea/*
.vscode/*

*.pyc
./*/*.pyc
./*/*/*.pyc
./*/*/*/*.pyc
./*/*/*/*/*.pyc
./*/*/*/*/*/*.pyc

*.log

wandb
./*/wandb
./*/*/wandb
./*/*/*/wandb
./*/*/*/*/wandb
./*/*/*/*/*/wandb


*.txt
*.h5

# data
*.rar
*.csv
*.dat
cifar-10-batches-py
*.tar.gz
*.png
*.zip
*.json

mimiconda.sh

fedml_api/model/ResNet18/cifar10/*
fedml_api/model/YOLOv3/coco/*
fedml_experiments/distributed/fedResNet18/wandb
fedml_experiments/distributed/fedResNet18/logs
fedml_experiments/distributed/fedYOLOv3/wandb
fedml_experiments/distributed/fedYOLOv3/logs

data/fednlp/*

*.npz

*.jpg